@using BookStoreManagement.ClientApp.Models.ViewModels
@model UserViewModel

@{
   Layout = null;
}

<form method="post" id="ChangePasswordModal" asp-action="ChangePassword" asp-controller="User" onsubmit="return AjaxPost(this);">
   <input asp-for="User.Id" type="hidden">
   <input asp-for="User.DisplayName" type="hidden">
   <div class="form-group">
      <label>Current Password</label>
      <input type="password" asp-for="ChangePassword.Password" class="form-control">
   </div>
   <div class="form-group">
      <label>New Password</label>
      <input type="password" asp-for="ChangePassword.NewPassword" class="form-control">
   </div>
</form>
<div class="modal-footer text-right">
   <button type="button" class="btn btn-secondary" onclick="hideModal('common-form-modal')">Close</button>
   <button type="submit" class="btn btn-success" form="ChangePasswordModal">Save Changes</button>
</div>
